@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}

:root {
    /* Gradient */
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);

    /* Dividers */
    --Light-grayish-blue: hsl(240, 5%, 91%);

    /* Primary Colors */
    /* Text */
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);

    /* Neutral Colors */ 
    /* Text */ 
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--Soft-violet), var(--Soft-blue));
}

main {
    min-height: 400px;
    max-height: 500px;
    min-width: 700px;
    width: 60%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 100%;
    column-gap: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 15px 20px 20px hsla(238, 29%, 16%, 0.329);
}


section#images{
    width: 100%;
    height: 100%;
    display: flex;
    justify-self:flex-start;
    align-items: center;
}

section#images div {
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: absolute;
}

#womanMobile, #patternMobile {display: none;}

#box {
    width: 180px;
    position: relative;
    top: 50px;
    right: 90px;
    z-index: 5;
}

#woman {
    width: 400px;
    position: relative;
    right: 50px;
    z-index: 2;
}

#patternDesktop {
    border: 1px solid red;
    height: 400px;
    position: absolute;
}

/* FAQ*/
section#faq{
    width: 100%;
    height: 100%;
    position: relative;
}

h1 {
    margin: 40px 0 20px 0;
    font-size: 2.5em;
    letter-spacing: 0.1em;
}

details {
    width: 85%;
    border-bottom: 1px solid var(--Light-grayish-blue);
    text-align: left;
    padding: 5px 0;
    position: relative;
    cursor: pointer;
}

summary:hover {
    color: var(--Soft-red);
}

details[open] {
    font-weight: 700;
}

summary {
    list-style-type: none;
    margin: 10px 0;
    font-size: 1.1em;
    color: var(--Very-dark-desaturated-blue);
}

summary::after {
    content: url(./images/icon-arrow-down.svg);
    float: right;
    position: relative;
    right: 5%;
}

details[open] summary::after{
    content: url(./images/icon-arrow-down.svg);
    transform: scaley(-1);
}

details > p {
    color: var(--Dark-grayish-blue);
    font-weight: 500;
}
